$Ratio : 375 / 10;

@function px2rem($px){
    @return $px / $Ratio + rem;
}

@mixin left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin ellipsis2($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: keep-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    // overflow-wrap: break-word;
}